body{
	background-color: pink;
}
h1 {
	color: purple;
	font-family: papyrus;
	text-align: center;
}

h2{

	color: purple;
	font-family: papyrus;
	text-align: center;
}
p{
	color: purple;
	font-family: papyrus;
	text-align: center;
}


h3{
	color: purple;
	font-family: papyrus;
	text-align: center;
}

h4{
	color: purple;
	font-family: papyrus;
	text-align: center;
}

h5{
	color: purple;
	font-family: papyrus;
	text-align: center;
}
li{ 
	color: purple;
	font-family: papyrus;
	text-align: center;
}

img{
	text-align: right;
}